@model Quote
 
<h1>Are you sure you want to delete this quote?</h1>
<h2>Author: @Model.Author.FirstName @Model.Author.LastName</h2>
<h2>Quote Text: @Model.QuoteText</h2>

<form method="post">
    <a asp-action="QuoteDetails" asp-route-id="@Model.QuoteId" class="btn btn-primary">Go Back</a>
    <input type="hidden" asp-for="QuoteId" />
    <button type="submit" class="btn btn-danger">Delete Permanently</button>
</form>